MYSQL_DATABASE=xiaoke_daily
MYSQL_USERNAME=root
MYSQL_PASSWORD=change_me_mysql_user_password
MYSQL_ROOT_PASSWORD=change_me_mysql_root_password

ADMIN_INITIAL_USERNAME=admin
ADMIN_INITIAL_PASSWORD=change_me_admin_password

APP_PUBLIC_UPLOAD_BASE_URL=/uploads
